.tab-pane.fade#orders(role="tabpanel")
  .card
    .card-body
      .row
        .col-md-12
          h4 Orders
          hr
      .row
        .col-md-12
          .list-group
            a.list-group-item.list-group-item-action(href='#chips') Chips
            a.list-group-item.list-group-item-action(href='#boots') Boots
            a.list-group-item.list-group-item-action(href='#jerky') Jerky
            a.list-group-item.list-group-item-action(href='#toilet-paper') Toilet Paper
            a.list-group-item.list-group-item-action(href='#snickers-12-pack') Snickers 12 pack