append stylesheets
  link(rel='stylesheet', href='../stylesheets/payment.css')
.tab-pane.fade.show#payment-options(role="tabpanel")
  .card.mt-50.mb-50#payment-card
    .card-title.mx-auto  Credit Cards
    form
      span#card-header Saved cards:
      .row.row-1
        .col-2
          img.img-fluid(src='https://img.icons8.com/color/48/000000/mastercard-logo.png')
        .col-7
          input(type='text' placeholder='**** **** **** 3193')
        .col-3.d-flex.justify-content-center
          a(href='#') Edit
          .col-7.d-flex.justify-content-center
            a(href="#") Remove
      .row.row-1
        .col-2
          img.img-fluid(src='https://img.icons8.com/color/48/000000/visa.png')
        .col-7
          input(type='text' placeholder='**** **** **** 4296')
        .col-3.d-flex.justify-content-center
          a(href='#') Edit
          .col-7.d-flex.justify-content-center
            a(href="#") Remove
      span#card-header Add new card:
      .row-1
        .row.row-2
          span#card-inner Card holder name
        .row.row-2
          input(type='text' placeholder='Bojan Viner')
      .row.three
        .col-7
          .row-1
            .row.row-2
              span#card-inner Card number
            .row.row-2
              input(type='text' placeholder='5134-5264-4')
        .col-2
          input(type='text' placeholder='Exp. date')
        .col-2
          input(type='text' placeholder='CVV')
      //- button.btn.d-flex.mx-auto
      button.btn.btn-primary(name='submit' type='submit')
        b Add card

