extends layout

append stylesheets
  link(rel='stylesheet', href='../stylesheets/login.css')

block content
  .container-fluid
    .row.justify-content-md-center
      .col-md-6.col-md-offset-3
        h2.call-out
          div.call-out-top We don't judge
          div.call-out-bottom We Deliver
  .container
    .row.justify-content-md-center
      .col-md-6.col-md-offset-3
        //- div.logo
        //-   img(src="https://s3.amazonaws.com/gopuff-content/assets/images/logo_white.svg")
        form#msform
          //- ul#progressbar
            li.active Username
            li Social Profiles
          fieldset
            h2.fs-title Login
            input(type='text' name='username' placeholder='Email or Phone')
            input.next.action-button(type='button' name='next' value='Next')
          fieldset
            h2.fs-title password
            input(type='password' name='pass' placeholder='Password or SMS Code')
            input.previous.action-button-previous(type='button' name='previous' value='Previous')
            input.submit.action-button(type='submit' name='submit' value='Submit')
            script.
              csrfToken = "#{csrfToken}"
append scripts
  script(src="../javascripts/auth.js")
  script(src="../javascripts/form.js")
  
  




